.browsehappy {
    background: $background-grey;
}

body {
    padding: 0;
    font-family: "Open Sans", "Arial", "sans-serif";
}

.text {
    font-size: 14px;

    @media (min-width: $screen-tablet) {
        font-size: 16px;
    }
    @media (min-width: $screen-desktop) {
        font-size: 18px;
    }
}

.v-aligner {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%;
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border-color: $main-color;
    border-radius: 2px;
    border-width: 3px;
    color: $main-color;
    transition: all 200ms ease-out;

    &:hover {
        background-color: $main-color;
        border-color: $main-color;
        color: #FFFFFF;
    }

    &.btn-white {
        border-color: #ffffff;
        color: #ffffff;

        &:hover, &:focus {
            background-color: #ffffff;
            color: $main-color;
        }
    }
}

.mask-hover-image {
    overflow: hidden;
    display: inline-block;
    position: relative;
    border: 1px solid $main-color;

    .item-hover {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        transition: all 300ms ease-out;
        opacity: 0;
        text-decoration: none;

        .item-info {
            z-index: 10;
            color: #fff;
            margin-right: 1px;
            position: relative;
            display: inline-block;
            width: 96%;
            vertical-align: middle;
            opacity: 1;

            .headline {
                font-size: 23px;
            }

            .line {
                width: 0%;
                height: 1px;
                margin: 12px auto 15px;
                background-color: #fff;
                transition: all 500ms ease-out;
            }

            .type {
                font-size: 15px;
            }
        }

        .mask {
            z-index: 1;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background-color: #000;
            opacity: 0.5;
        }

        &:hover {
            opacity: 1;

            .line {
                width: 40%;
            }
        }
    }

    &.active {

        .item-hover {
            opacity: 1;

            .line {
                width: 40%;
            }

            .mask {
                background-color: $main-color;
                opacity: 0.8;
            }
        }
    }
}

.image-block {
    background-position: center center;
    background-size: cover;

    &::after {
        position: absolute;
        background-color: $main-color;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: 0.9;
        z-index: 0;
    }
}